<!DOCTYPE html>
<html lang="en">
	<head>	

		<title>Welcome</title>
		<meta charset="utf-8">
		<meta name="author" content="Reah Miyara and Rafi Lurie">
		<meta name="description" content="meanWebApp">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- External JS -->
		<script language="javascript" type="text/javascript" src="facebook_script.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="style.css">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="fb-root"></div>
		<div class="container-fluid">
			<a href="/auth/facebook/">Log in with Facebook</a>
			<!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="false"></div> -->
		</div>

	</body>

</html>