body {
	background: #F1F1F1;
	font-family: Open Sans;
}

.header {
	padding: 2% 2% 2% 2%;
}

.articles-container {
	border: 1px solid black;
	background: white;
	padding: 2% 2% 2% 2%;
	margin-bottom: 5%;
}

.articles {
}

.article {
	color: black;
	display: inline-block;
	padding: 1% 1% .5% 1%;
}

.link {
	color: black;
	font-size: 1.3em;
}

.author {
	font-style: italic;
	font-size: 1em;
	margin: .3% 0% 0% 0%;
	display: inline-block;
}
